/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
}

header {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20%;
    height: 100vh;

    padding: 20px;
    gap: 10px;

    background-color: #C74375;
    color: white;
    text-align: center;
}

header h1{
    font-size: 28px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;

}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap:8px;
}

nav a {
    color: #333333;
    background-color: white;
    padding:10px;
    text-decoration: none;
    text-align: center;
    margin: 0 15px;
    font-weight: bold;
    border-radius: 5px;
    min-width: 150px;
    max-width: 200px;
}

nav a:hover {
    color: #C74375;
}

section {
    background-color: white;
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
}

section h2 {
    color: #333333;
    margin-bottom: 15px;
}

section hr{
    height: 3px;
    background-color: #C74375;
    border: none;
    border-radius: 10px;
    margin: 10px 0 25px 0;
}

ul {
    padding-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

textarea {
    height: 120px;
}

button {
    background-color: #333333;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2B2B2B;
}

/* Estilo modo escuro */
body.dark {
    background-color: #0F172A;
    color: #F8FAFC;
    transition: .3s ease;
}

body.dark header{
    background: #111827;
    box-shadow: 0 2px 10px rgba(0,0,0,.4);
}

body.dark nav a{
    color: #F8FAFC;
    background-color: #1E293B;
}

body.dark nav a:hover{
    color: #E11D48;
}

body.dark section{
    background: #1E293B;
    color: #F8FAFC;
}

body.dark h1,
body.dark h2,
body.dark h3{
    color: #FFFFFF;
}

body.dark p,
body.dark li{
    color: #CBD5E1;
}

body.dark hr{
    background: #E11D48;
}

body.dark button{
    background: #E11D48;
    color: white;
}

body.dark button:hover{
    background: #BE123C;
}

body.dark input,
body.dark textarea{
    background: #334155;
    color: white;
    border: 1px solid #475569;
}

body.dark input::placeholder,
body.dark textarea::placeholder{
    color: #94A3B8;
}

body.dark a{
    color: #F8FAFC;
}

body.dark a:hover{
    color: #E11D48;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    header {
        position: static;
        width: 100%;
        height: auto;
    }

    div {
        width: 100%;
        margin-left: 0;
    }
}